body {
    background-image: url("../img/grid3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    border: 3px solid rgb(76, 243, 104);
}

.head-img {
    height: 200px;
    width: 100%;
    background-image: url("../img/grid2.jpg");
    background-position: 50% 42%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid rgb(76, 243, 104);
}

.navbar {
    background-color: black;
    border-bottom: 3px solid rgb(76, 243, 104);
}

.navbar-default .navbar-brand {
    color: rgb(76, 243, 104);
    font-size: 24px;
    padding-top: 20px;
}

.navbar-default .navbar-brand:hover {
    color: rgb(76, 243, 104);
    font-size: 24px;
    padding-top: 20px;
}

.container-fluid {
    font-family: 'Press Start 2P', cursive;
}

#home-btn,
#saved-btn,
#scrape-btn {
    color: black;
    border: 3px solid rgb(76, 243, 104);
}

#home-btn:hover,
#saved-btn:hover,
#scrape-btn:hover {
    color: red;
    background-color: white;
    border: 3px solid rgb(76, 243, 104);
}

/* ======================================= */

.wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-left: 3px solid rgb(76, 243, 104);
    border-right: 3px solid rgb(76, 243, 104);
    border-bottom: 3px solid rgb(76, 243, 104);
    font-family: 'Play', sans-serif;
    border: 3px solid rgb(76, 243, 104);
}

#article-title {
    font-family: 'Press Start 2P', cursive;
    color: rgb(76, 243, 104);
    background-color: black;
    padding: 20px;
    margin-top: 40px;
    border: 3px solid rgb(76, 243, 104);
    border-radius: 5px;
}

#articles {
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: 1000px;
    color: black;
    font-size: 18px;
}

.article-block {
    background-color: black;
    padding-bottom: 20px;
    margin: 20px;
    border-radius: 5px;
    border: 3px solid rgb(76, 243, 104);
    font-size: 24px;
}

p {
    color: rgb(76, 243, 104);
    border-bottom: 3px solid rgb(76, 243, 104);
    padding: 10px;
}

.article-img {
    width: 300px;
    border-radius: 5px;
    border: 3px solid rgb(76, 243, 104);
    margin: 0 auto;
    display: block;
    background-color: black;
}

#articles a {
    color: black;
    padding: 10px 30px;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    display: block;
    background-color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    text-align: center;
    border: 3px solid rgb(76, 243, 104);
}

#articles a:hover {
    color: red;
    padding: 10px 30px;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    background-color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    text-align: center;
    border: 3px solid rgb(76, 243, 104);
}

.write-note {
    color: black;
    padding: 10px 30px;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    display: block;
    background-color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: 3px solid rgb(76, 243, 104);
}

.write-note:hover {
    color: red;
    padding: 10px 30px;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    display: block;
    background-color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: 3px solid rgb(76, 243, 104);
}

#notes {
    display: none;
    float: top;
    width: 100%;
    margin-top: 20px;
    margin-left: -6px;
    padding-bottom: 20px;
    background-color: black;
    border-radius: 5px;
    border: 3px solid rgb(76, 243, 104);
    text-align: center;
}

#notes p {
    background-color: black;
    color: rgb(76, 243, 104);
    font-size: 24px;
}

#savenote {
    color: black;
    padding: 10px 30px;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    display: block;
    background-color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    text-align: center;
    border: 3px solid rgb(76, 243, 104);
}

#savenote:hover {
    color: red;
    padding: 10px 30px;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    display: block;
    background-color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    text-align: center;
    border: 3px solid rgb(76, 243, 104);
}

input {
    font-size: 24px;
    border: 2px solid rgb(76, 243, 104);
}

textarea {
    width: 274px;
    margin-top: 10px;
    height: 200px;
    font-size: 18px;
    border: 2px solid rgb(76, 243, 104);
}

/* ======================================= */

.footer {
    font-family: 'Press Start 2P', cursive;
    bottom: 0;
    padding: 13px;
    margin-top: 40px;
    height: 50px;
    background-color: black;
    text-align: center;
    border-top: 3px solid rgb(76, 243, 104);
    width: 100%;
    z-index: 999;
    color: rgb(76, 243, 104);
}

#divider {
    color: white;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(76, 243, 104); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(97, 220, 121); 
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
    background: rgb(97, 200, 121); 
}